* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     }
  
  body {
    font-family: Georgia, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
      }
  
  header {
    padding: 2rem;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
 
  
  input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Georgia, sans-serif;
  }
    
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 960px;
}
    

  
  